.ff-input {
	label {
		font-weight: bold;
	}

	.mat-form-field {
		display: block;
		width: 100%;
	}
}

.ff-input--small {
	.mat-form-field {
		.mat-form-field-infix {
			border-top: 0;
			padding: .8em 0 .8em 0;
		}

		.mat-form-field-wrapper {
			margin: 0 !important;
			padding: 0;
		}

		.mat-form-field-outline {
			top: 0 !important;

			> * {
				background: white;
			}
		}

		.mat-select-arrow-wrapper {
			transform: none !important;
		}

		.mat-form-field-suffix {
			top: 0 !important;
			color: var(--ff-color-gray);
		}

		.mat-form-field-flex {
			align-items: center;
			margin-top: 0 !important;
		}

		.mat-form-field-label-wrapper {
			top: -3px;
		}
	}
}
