.ff-modal-footer {
	text-align: right;
	background: var(--ff-modal-footer-background);
	border-top: 1px solid var(--ff-modal-footer-top-border);
	padding: 24px var(--ff-modal-side-padding);

	button {
		margin-right: 16px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.ff-modal-header {
	background: var(--ff-modal-header-background);
	color: #fff;
	font-size: 20px;
	padding: 16px var(--ff-modal-side-padding);
	display: flex;
	align-items: center;

	&--danger {
		background: var(--ff-modal-header-danger-background);
	}

	&__button {
		font-size: 14px;
		margin-left: auto;
	}
}

.ff-modal-content {
	padding: 16px var(--ff-modal-side-padding);
}
