.ff-alert-bar  {
	display: block;
}

.ff-alert-bar__inner {
	overflow: hidden;
	margin-bottom: 16px;
	text-align: center;

	&.ff-alert-bar--success .ff-alert-bar__message {
		background: $colorSuccess;
	}

	&.ff-alert-bar--warning .ff-alert-bar__message {
		background: $colorWarning;
	}
}

.ff-alert-bar__message {
	padding: 8px 16px;
	background: $colorError;
	border-radius: $defaultBorderRadius;
	color: #fff;
}
