.modal-footer {
	text-align: right;
	background: $modalFooterBackgroundColor;
	border-top: 1px solid $modalFooterTopBorderColor;
	padding: 20px $modalSidePadding;
	margin-top: 20px;

	.ff-button {
		margin-right: 5px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.modal-header {
	background: $modalHeaderBackgroundColor;
	color: #fff;
	font-size: 20px;
	padding: 20px $modalSidePadding;
	margin-bottom: 20px;

	&.modal-header--danger {
		background: $modalHeaderDangerBackgroundColor;
	}
}

.modal-content {
	padding: 16px $modalSidePadding;
}

.modal-outer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;

	outline: 0;
	border: 0;
	z-index: 1000;

	align-items: flex-start;
	justify-content: center;

	[ff-button].modal__close-button {
		position: fixed;
		top: 40px;
		right: 40px;
		z-index: 5000;

		.button {
			width: 40px;
			height: 40px;
		}

		.ff-icon {
			width: 20px;
			height: 20px;
			margin: 0;
			display: block;
		}
	}

	[ff-button].modal__close-button-inside {
		position: absolute;
		top: 0;
		right: 0;

		.button {
			padding: 0;
			width: 30px;
			height: 30px;
		}

		.icon {
			fill: $modalCloseButtonColor;
			width: 20px;
			height: 20px;
			margin: 0;
			display: block;
		}
	}
}

.ff-dialog-no-padding {
	.mat-dialog-container {
		padding: 0 !important;
	}
}

.ff-dialog-clean {
	.mat-dialog-container {
		background: transparent;
	}
}