ff-select {
  width: auto;
  display: block;

  &.connected-with-next {
    .chosen-drop {
      width: auto;
      margin-right: -1px;
    }
  }

  &.ff-focused {
    .chosen-single {
      border-color: $colorPrimary;
    }
  }

  .choices__inner {
    padding: 3px 4px;
    min-height: 0;
    border: 1px solid $formFieldBorderColor;
    border-radius: $formFieldBorderRadius;
  }

  .choices[data-type*="select-one"] .choices__inner {
    padding-bottom: 3px;
  }

  .choices__list.choices__list--dropdown {
    z-index: 100;

    .choices__item--selectable.is-highlighted {
      background: $ff-color-primary;
      color: white;
    }
  }
}
