.ff-spinner {
  width: 40px;
  height: 40px;
  display: block;
  margin: 30px auto;

  .mat-progress-spinner {
    width: 100% !important;
    height: 100% !important;

    svg {
      width: 100% !important;
      height: 100% !important;
    }

    circle {
      stroke: $ff-color-primary;
    }
  }


}

