.ff-alert-bar  {
	display: block;

	&__inner {
		overflow: hidden;
		margin-bottom: 16px;
		text-align: center;

		&.ff-alert-bar--success .ff-alert-bar__message {
			background: var(--ff-color-success);
		}

		&.ff-alert-bar--warning .ff-alert-bar__message {
			background: var(--ff-color-warning);
		}
	}

	&__message {
		padding: 8px 16px;
		background: var(--ff-color-error);
		border-radius: var(-ff-default-border-radius);
		color: #fff;
	}
}
