html,
body {
	margin: 0;
	padding: 0;
	font-family: var(--ff-font-family);
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


.mat-spinner {
	width: 32px !important;
	height: 32px !important;

	svg {
		width: 100% !important;
		height: 100% !important;
	}
}
