.ff-input,
.ff-form-field {
	display: block;

	&__label {
		font-size: var(--ff-forms-font-size);
		margin-bottom: .25rem;
		font-weight: 600;
		display: block;
	}

	.mat-form-field {
		display: block;
		width: 100%;
	}

	input,
	textarea {
		font-family: var(--ff-font-family);
		font-size: var(--ff-forms-font-size);
	}

	.mat-form-field:not(.mat-form-field-has-label) .mat-form-field-infix {
		border-top-width: .3em;
	}

	&--no-bottom-padding {
		.mat-form-field-wrapper {
			padding-bottom: 0;
		}
	}
}

.mat-option,
.mat-select-value {
	font-size: var(--ff-forms-font-size) !important;
}

.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
	padding: 0 !important;
	margin-top: 4px !important;
}

// Checkboxes
.mat-checkbox .mat-checkbox-label {
	font-size: var(--ff-forms-font-size);
}


.ff-input--small,
.ff-form-field--small {
	.mat-form-field {
		.mat-form-field-infix {
			border-top: 0;
			padding: .8em 0 .8em 0;
		}

		.mat-form-field-wrapper {
			margin: 0 !important;
		}

		.mat-form-field-outline {
			top: 0 !important;

			> * {
				background: white;
			}
		}

		.mat-select-arrow-wrapper {
			transform: none !important;
		}

		.mat-form-field-suffix {
			top: 0 !important;
			color: var(--ff-color-gray);
		}

		.mat-form-field-flex {
			align-items: center;
			margin-top: 0 !important;
		}

		.mat-form-field-label-wrapper {
			top: -3px;
		}
	}
}
