.ff-sidenav {
	background-color: var(--ff-sidenav-background);
	color: white;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: var(--ff-sidenav-width);
	border-right: 0;
	transition: width .3s ease;

	.mat-drawer-inner-container {
		display: flex;
		flex-direction: column;
	}

	&__top {
		padding: 16px var(--ff-sidenav-side-padding);
		border-bottom: 1px solid var(--ff-sidenav-spacer-color);
		display: flex;
		align-items: center;
		margin-bottom: 16px;

		&--electron {
			padding-top: 48px;
		}

		&-right {
			margin-left: auto;
			text-align: right;
		}
	}

	&__version {
		font-size: 12px;
		line-height: 1;
		color: rgba(#fff, .4);
	}

	&__changelog {
		font-weight:bold;
		font-size: 12px;
		margin-top: 2px;
		display: block;
		cursor: pointer;
	}

	&__logo {
		height: var(--ff-sidenav-logo-height);
		display: block;
	}

	nav {
		min-height: 0;
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	&__group {
		margin-bottom: 16px;
	}

	&__group-items {
	}

	&__group-title {
		padding: 18px var(--ff-sidenav-side-padding) 8px;
		margin: 0;
		font-size: 14px;
		font-weight: bold;
	}

	&__item {
		display: flex;
		min-width: 0;
		width: 100%;
		text-align: start;
		text-decoration: none;
		color: white;
		transition: color .2s ease, background .2s ease, opacity .2s ease;
		padding: 10px var(--ff-sidenav-side-padding);
		appearance: none;
		font-size: 14px;
		border: 0;
		background: transparent;
		opacity: .6;

		&:hover {
			opacity: 1;
		}

		&--active {
			color: var(--ff-sidenav-item-active-color);
			opacity: 1;

			.mat-icon {
				fill: var(--ff-sidenav-item-active-color);
				color: var(--ff-sidenav-item-active-color);

				g {
					fill: var(--ff-sidenav-item-active-color);
				}
			}
		}

		.mat-icon {
			font-size: 20px;
			width: 20px;
			height: 20px;
			margin-right: 16px;
		}
	}

	&__item-text {
		padding-left: 16px;
		display: block;
		transition: opacity .3s ease;
	}

	&__item-inner {
		display: flex;
		width: 100%;
		align-items: center;
	}

	&__bottom {
		margin-top: auto;

		.ff-sidenav__item {
			margin-bottom: 16px;
		}
	}

	&__user {
		display: flex;
		align-items: center;
		padding: 24px var(--ff-sidenav-side-padding);

		.ff-avatar {
			flex-shrink: 0;
		}

		&-name {
			font-size: 14px;
		}

		&-email {
			display: block;
			color: var(--ff-sidenav-user-subtitle-color);
			font-size: 12px;
		}
	}

	&__size-toggle {
		border-top: 1px solid var(--ff-sidenav-spacer-color);
		padding: 4px var(--ff-sidenav-side-padding);
		display: flex;
		justify-content: flex-end;
	}

	&--slim {
		width: 64px;

		.ff-sidenav__top {
			padding-left: 0;
			padding-right: 0;
			justify-content: center;
			margin-bottom: 0;
		}

		.ff-sidenav__item {
			.mat-icon {
				margin-right: 0;
			}
		}

		.ff-sidenav__user {
			padding-left: 0;
			padding-right: 0;
			display: flex;
			justify-content: center;
		}

		.ff-avatar {
			width: 32px;
			height: 32px;
			margin-right: 0;
		}

		.ff-sidenav__item-inner {
			justify-content: center;
		}

		.ff-sidenav__size-toggle {
			padding-left: 0;
			padding-right: 0;
			justify-content: center;
		}

		.ff-sidenav__group {
			padding: 8px 0;
			border-bottom: 1px solid var(--ff-sidenav-spacer-color);
			margin-bottom: 0;
		}
	}

}
