:root {
	--ff-color-primary: #0997f3;
	--ff-color-light-accent: #f2f5f6;
	--ff-color-gray-light: #e7e7e7;
	--ff-color-gray: #aaa;
	--ff-color-gray-medium: #888;

	--ff-color-text: #2d3339;
	--ff-color-success: #7ece65;
	--ff-color-warning: #febb08;
	--ff-color-error: #f87979;

	--ff-default-border-radius: 3px;
	--ff-font-family: Lato, sans-serif;

	--ff-table-side-padding: 16px;
	--ff-table-clickable-hover-background: var(--ff-color-light-accent);
	--ff-table-color-spacer-lines: var(--ff-color-gray-light);
	--ff-table-heading-background-color: var(--ff-color-light-accent);
	--ff-table-text-color: var(--ff-color-text);
	--ff-table-icon-fill-color: var(--ff-color-gray-medium);

	--ff-modal-header-background: var(--ff-color-primary);
	--ff-modal-side-padding: 24px;
	--ff-modal-header-danger-background: var(--ff-color-error);
	--ff-modal-footer-background: #fafafa;
	--ff-modal-footer-top-border: var(--ff-color-gray-light);
}

@import 'base';
@import 'forms';
@import 'tables';
@import 'snack-bar';
@import 'alert-bar';
@import 'buttons';
@import 'icons';
@import 'modals';
