/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');
@import '../../freshfox/ng-core/src/styles/main';
@import '../../freshfox/ng-auth/src/styles/auth';

app-root {
	display: block;
}

:root {
	--ff-color-primary: #22c55e;
	--ff-auth-logo-size: 280px;
	--ff-auth-background-brightness: 30%;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
